---
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Estudios",
    label: "estudios",
    url: "/#estudios",
  },
  {
    title: "Cursos",
    label: "cursos",
    url: "/#cursos",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:ps4cristiantorr@gmail.com",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto"
>
  <nav
    class="flex flex-wrap px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center mt-2"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        console.log(entry);
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              console.log(item);
              item.classList.add("text-yellow-300");
            } else {
              item.classList.remove("text-yellow-300");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.1,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    border-radius: 50px !important;
  }

  nav {
    background-color: rgba(31, 41, 55, 0.9); /* bg-white/50 */
  }

  nav.dark {
    background-color: rgba(
      31,
      41,
      55,
      0.9
    ); /* dark:bg-gray-800/90 (equivalente a rgba(31, 41, 55, 0.9)) */
  }

  @keyframes nav-shadown {
    0% {
      background-color: rgba(255, 255, 255, 0); /* bg-white/0 */
      background-color: rgba(
        31,
        41,
        55,
        0
      ); /* dark:bg-gray-800/0 (equivalente en RGB con opacidad 0) */
    }
    to {
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); /* shadow-lg */
      border-radius: 0.375rem; /* ring-1 (equivalente al border-radius 0.375rem) */
      backdrop-filter: blur(10px); /* backdrop-blur */
      border-color: rgba(255, 255, 255, 0.1); /* ring-white/10 */
    }
  }
</style>
