<section
  id="principal"
  data-section="principal"
  class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <div class="max-w-xl">
    <div class="flex gap-4 mb-4">
      <img
        class="rounded-full object-cover object-bottom shadow-lg size-35"
        src="/torres.webp"
        alt="Cristian Torres"
      />
      <a
        href="https://linkedin.com/in/cristiantorr"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <div class="flex items-center">
          <span
            class="relative inline-flex overflow-hidden rounded-full p-[1px]"
          >
            <span
              class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
            ></span>
            <div
              class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
            >
              Disponible para trabajar
            </div>
          </span>
        </div>
      </a>
    </div>
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Hola, soy Cristian Torres
    </h1>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      Más de 10 años de experiencia. <strong
        >Tecnólogo en Análisis y Desarrollo de Sistemas de Información</strong
      > de Colombia, Medellín.<br />
      Especializado en el desarrollo de sitios web a medida utilizando el CMS WordPress,
      creación de plugins, así como en el uso de tecnologías como Html,PHP, javascript,
      Css, Laravel, React, Vue.js, Astro y TailwindCSS.
    </p>
    <ul class="flex flex-row mb-2 gap-x-2 mt-5">
      <strong class="text-yellow-200">HABILIDADES:</strong>
      <li>
        <span
          class="flex gap-x-2 rounded-full text-xs bg-black text-white py-1 px-2"
        >
          <svg
            class="size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="256"
            height="256"
            preserveAspectRatio="xMidYMid"
            viewBox="0 0 256 256"
          >
            <defs>
              <linearGradient
                id="c"
                x1="55.633%"
                x2="83.228%"
                y1="56.385%"
                y2="96.08%"
              >
                <stop offset="0%" stop-color="#FFF"></stop>
                <stop offset="100%" stop-color="#FFF" stop-opacity="0"></stop>
              </linearGradient>
              <linearGradient id="d" x1="50%" x2="49.953%" y1="0%" y2="73.438%">
                <stop offset="0%" stop-color="#FFF"></stop>
                <stop offset="100%" stop-color="#FFF" stop-opacity="0"></stop>
              </linearGradient>
              <circle id="a" cx="128" cy="128" r="128"></circle>
            </defs>
            <mask id="b" fill="#fff">
              <use xlink:href="#a"></use>
            </mask>
            <g mask="url(#b)">
              <circle cx="128" cy="128" r="128"></circle>
              <path
                fill="url(#c)"
                d="M212.634 224.028 98.335 76.8H76.8v102.357h17.228V98.68L199.11 234.446a128.433 128.433 0 0 0 13.524-10.418Z"
              ></path>
              <path fill="url(#d)" d="M163.556 76.8h17.067v102.4h-17.067z"
              ></path>
            </g>
          </svg>
          Next.js
        </span>
      </li>
      <li>
        <span
          class="flex gap-x-2 rounded-full text-xs bg-[#003159] text-white py-1 px-2"
        >
          <svg
            class="size-4"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 54 33"
          >
            <g clip-path="url(#a)">
              <path
                fill="#38bdf8"
                fill-rule="evenodd"
                d="M27 0c-7.2 0-11.7 3.6-13.5 10.8 2.7-3.6 5.85-4.95 9.45-4.05 2.054.513 3.522 2.004 5.147 3.653C30.744 13.09 33.808 16.2 40.5 16.2c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C36.756 3.11 33.692 0 27 0zM13.5 16.2C6.3 16.2 1.8 19.8 0 27c2.7-3.6 5.85-4.95 9.45-4.05 2.054.514 3.522 2.004 5.147 3.653C17.244 29.29 20.308 32.4 27 32.4c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C23.256 19.31 20.192 16.2 13.5 16.2z"
                clip-rule="evenodd"></path>
            </g>
            <defs>
              <clipPath id="a">
                <path fill="#fff" d="M0 0h54v32.4H0z"></path>
              </clipPath>
            </defs>
          </svg>
          Tailwind CSS
        </span>
      </li>
    </ul>
    <nav class="flex flex-wrap gap-4 mt-8">
      <a
        href="mailto:ps4cristiantorr@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        role="link"
        class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
      >
        <svg
          class="size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"
          ></path>
          <path d="M3 6l9 6l9 -6"></path>
          <path d="M15 18h6"></path>
          <path d="M18 15l3 3l-3 3"></path>
        </svg>
        Contáctame
      </a>
      <a
        href="https://linkedin.com/in/cristiantorr
"
        target="_blank"
        rel="noopener noreferrer"
        role="link"
        class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
      >
        <svg
          class="size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path>
          <path d="M8 11l0 5"></path>
          <path d="M8 8l0 .01"></path>
          <path d="M12 16l0 -5"></path>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
        LinkedIn
      </a>
    </nav>
  </div>
</section>
